---
import Layout from '../layouts/General.astro';
---

<Layout title='404' description='404'>
  <h1 class='msg'>404 NOT FOUND</h1>
</Layout>

<style>
  .msg {
    text-align: center;
    margin-top: 40vh;
    margin-bottom: 40vh;
    font-size: 4em;
  }
</style>
