---
export interface Props {
  desc?: string;
  href: string;
  title: string;
}

const desc = Astro.props.desc ?? '';
const { href, title } = Astro.props;
---

<div class='my-4 rounded-lg border border-gray-600 bg-gray-700 p-2 shadow-sm'>
  <a href={href}>
    <h2 class='mb-4 text-lg font-semibold text-gray-200'>
      {title}
      <span>&rarr;</span>
    </h2>
    <p class='text-gray-400'>
      {desc}
    </p>
  </a>
</div>
