<footer class='bottom-0 mt-10 h-20 border-t-2 border-t-slate-600'>
  <div class='container flex h-full items-center px-10 text-sm text-gray-500'>
    © {new Date().getFullYear()} - Copyright Manuke Engineer, All Rights Reserved.
  </div>
</footer>
