---
import { SITE_TITLE } from '../const';
---

<header
  class='sticky top-0 z-50 h-10 border-b-2 border-b-slate-500 bg-slate-900/70 backdrop-blur transition-colors'
>
  <div class='container mx-auto flex h-full items-center justify-between px-10'>
    <div class='text-lg font-black'>
      <a href='/'>{SITE_TITLE}</a>
    </div>
    <button id='searchButton' aria-label='検索'>
      <svg
        class='h-5 w-5 hover:text-sky-300'
        stroke-width='2'
        stroke='currentColor'
        fill='none'
      >
        <path stroke='none'></path>
        <circle cx='9' cy='9' r='7'></circle>
        <line x1='21' y1='21' x2='14' y2='14'></line>
      </svg>
    </button>
  </div>
</header>

<script>
  const searchBotton = document.getElementById('searchButton');
  if (searchBotton !== null) {
    searchBotton.addEventListener('click', () => {
      console.log('search articles');
    });
  }
</script>
