---
interface Props {
  prev?: string;
  prevText?: string;
  next?: string;
  nextText?: string;
}

const {
  prev,
  prevText = '前のページ',
  next,
  nextText = '次のページ',
} = Astro.props;
---

<div class='paging'>
  {prev ? <a href={`${prev}`}>&larr;{prevText}</a> : <div />}
  {next ? <a href={`${next}`}>{nextText}&rarr;</a> : <div />}
</div>

<style>
  .paging {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>
