---
export interface Props {
  appid: Number;
}
const widgetURL = 'https://store.steampowered.com/widget/' + Astro.props.appid;
---

<div class='flex justify-center p-2' style='min-width: 250px;'>
  <iframe src={widgetURL} width='75%' height='190px'></iframe>
</div>
