---
import { getContents, getTags } from '../utils/util';

const allPosts = await getContents();
const tags = getTags(allPosts);

interface Props {
  classname?: string;
}

const { classname } = Astro.props;
---

<div class:list={['sidebar-tags', classname]}>
  <h3>Tags</h3>
  <div class='tags'>
    {
      tags.map((tag) => (
        <a href={`/tags/${tag}/`} class='tag'>
          <span>#&nbsp;{tag}</span>
        </a>
      ))
    }
  </div>
</div>

<style>
  .sidebar-tags {
    top: 100px;
    display: block;
    padding: 0.5em;
    overflow-y: scroll;
    background-color: rgb(var(--gray-2));
    border: rgb(var(--white-2)) 1px solid;
    border-radius: 0.5em;

    h3 {
      margin-top: 0;
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
    }

    .tag {
      text-decoration: none;
      font-size: smaller;
      padding: 0.25em 0.5em;
      margin: 0.25em;
      color: rgb(var(--white-2));
      background-color: rgb(var(--gray-3));
      border-radius: 0.25em;

      &:hover {
        color: var(--accent);
        text-decoration: underline;
      }
    }
  }

  .side {
    width: 16em;
    position: sticky;
    height: 300px;
    max-height: 30%;
    @media (max-width: 768px) {
      /* mobile */
      display: none;
    }
  }

  .bottom {
    display: none;
    @media (max-width: 768px) {
      /* mobile */
      margin-top: 1em;
    }
  }
</style>
