---
import Layout from '../layouts/MainLayout.astro';

export interface Props {
  title: string;
  ogDesc: string;
}
const { title, ogDesc } = Astro.props;
---

<Layout pageTitle={title} ogDesc={ogDesc}>
  <main>
    <slot />
  </main>
</Layout>
