---
import BlogListLayout from '../../layouts/BlogListLayout.astro';
// import Card from '../../components/Card.astro';
---

<BlogListLayout title='Tech Article List' ogDesc='temp tech desc'>
  <h1 class='text-4xl font-semibold text-purple-400'>Tech Blog</h1>
</BlogListLayout>
